* {
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    padding-top: 100px;
    font-family: 'Helvetica', sans-serif;
    width: 80%;
    text-align: center;
    font-size: 100px;
    color: lime;
    border-bottom: 3px solid black;
}